.domain-navigation {
  text-align: center;
  margin: 20px;
}

.arrow-button {
  background-color: #006d40;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

h2 {
  margin: 20px 0;
  color: white;
}
